img {
  width: 100%;
  object-fit: contain;
}

/*----------- Utilities Start--- */
/* -------------------- */
.btn-orange {
  background: #e76f51;
  color: white;
}
.paragraph-text {
  color: #e0e0e0;
}
/*----------- Utilities End--- */
/* -------------------- */

/*----------- Banner Start--- */
/* -------------------- */
.banner {
  background: #264653;
}
.banner-description {
  width: 81%;
}
/*----------- Banner End--- */
/* -------------------- */
