/* GooGle Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*----------- Utilities Start--- */
/* -------------------- */
body {
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
  object-fit: cover;
}
.img-squre {
  width: 165px;
  height: 165px;
}
.img-rounded {
  border-radius: 20px;
}
.btn-orange {
  background: #e76f51;
  color: white;
}
.paragraph-text {
  color: #e0e0e0;
  font-size: 16px;
}
.primary-text-color {
  color: #e76f51;
}
/*----------- Utilities End--- */
/* -------------------- */

/*----------- Banner Section Start--- */
/* -------------------- */
#banner {
  background: #264653;
}
#banner h1 {
  font-size: 40px;
}
#banner-description {
  width: 81%;
}
/*----------- Banner Section End--- */
/* -------------------- */

/*----------- Feature Section Start--- */
/* -------------------- */
.img-grey {
  filter: grayscale(100%);
}
/*----------- Feature Section End--- */
/* -------------------- */

/*----------- Client Section Start--- */
/* -------------------- */
.cients-name {
  color: #23a6f0;
}
/*----------- Client Section End--- */
/* -------------------- */

/*----------- FAQ Section Start--- */
/* -------------------- */
.accordion-button {
  font-weight: 500;
  color: #383838;
}
.accordion-button:not(.collapsed) {
  color: #383838;
  background-color: rgb(247, 247, 247);
}
/*----------- FAQ Section Start--- */
/* -------------------- */

/*----------- New Arrivals Section Start--- */
/* -------------------- */
#new-arrivals {
  background: #264653;
}
/*----------- New Arrivals Section End--- */
/* -------------------- */
